@font-face {
    font-family: vazir;
    src: url('../fonts/vazir/Vazirmatn-FD-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} 
@font-face {
    font-family: vazir;
    src: url('../fonts/vazir/Vazirmatn-FD-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
body{
    direction: rtl;
    padding: 0;
    background: #000;
    font-family: vazir;
}
ul,
li,
ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width:1200px;
    margin:0 auto;
}
.popular h3{
    color: #fff;
    margin: 30px 0;
}
.popular .mostPopular{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
    flex-wrap: nowrap;
}
.popular .mostPopular li{
    width:16.6%;
}
.popular .mostPopular .imageHolder{   
    position: relative;   
}
.popular .mostPopular .imageHolder img{
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.popular .mostPopular .imageHover{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content:"";
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.popular .mostPopular .imageHolder:hover .imageHover{
    background: transparent;
}
.popular .mostPopular .imageHolder:hover .imageHolder{
    border:1px solid #fff;
    transform: scale(1.2);
}
.tv{
    margin: 80px 0;
}
.tv .tvList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap:50px;
}
.tv .tvList li{
    width:33%;
}
.tv .tvList .filmHolder{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:3px solid #757575;
}
.tv .tvList .filmHolder i{
    color: #FFF;
}
.tv .tvList .filmHolder .filmText{
    position:absolute;
    bottom: 10px;
    background: rgba(0,0,0,0.8);
    color: #FFF;
    border-radius: 20px;
    padding: 0 8px;
}
.tv .tvList .filmHolder .play{
    position: absolute;
    background: rgba(0,0,0,0.8);
    border-radius: 50%;
    width:50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tv .tvList .filmHolder p{
    font-size: 15px;
    margin: 3px;
}
.tv .tvList .filmHolder img{
    width:100%;
}
.tv .tvList .filmHolder:hover .play{
    background: rgba(0,0,0,0.5);
}
.tv .tvList .filmHolder:hover .filmHolder img{
    transform: scale(1.1);
}


