@font-face {
    font-family: vazir;
    src: url('../fonts/vazir/Vazirmatn-FD-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} 
@font-face {
    font-family: vazir;
    src: url('../fonts/vazir/Vazirmatn-FD-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
body{
    direction: rtl;
    padding: 0;
    background: #000;
    font-family: vazir;
}
ul,
li,
ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width:1200px;
    margin:0 auto;
}
